<div class="header">
  <div class="header__logo"><img src="assets/images/yt_logo_rgb_dark.png" width="90px" />ES</div>

  <div class="header__search">
    <div class="topnav">
      <input class="searchTerm" type="text" placeholder="Search.." />
      <botton type="submit" class="searchButton" type><i class="fas fa-search"></i></botton></div>
    </div>
    <div class="header__nav">
      <ul class="menu">
        <li class="header__nav__item"><i class="fas fa-video"></i></li>
        <li class="header__nav__item"><i class="fas fa-th"></i></li>
        <li class="header__nav__item"><i class="fas fa-bell"></i></li>
        <li class="header__nav__avatar"></li>
      </ul>
    </div>
  </div>
</div>
