<div class="main">
  <div class="main__grid">
    <div class="item recommends">Recomendaciones</div>

    <div class="item">
        <img src="https://www.fillmurray.com/200/120" /> 
      </h3 class="title"><strong>Título</strong></h3>
      <p class="youtuber">author</p>
      <p class="youtuber">visualizaciones</p>
      <p class="youtuber">tiempo</p>
    </div>
    <div class="item">
        <img src="https://www.fillmurray.com/200/120" /> 
      </h3 class="title"><strong>Título</strong></h3>
      <p class="youtuber">author</p>
      <p class="youtuber">visualizaciones</p>
      <p class="youtuber">tiempo</p>
    </div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
    <div class="item"><img src="https://www.fillmurray.com/200/120" /> 
    </h3 class="title"><strong>Título</strong></h3>
    <p class="youtuber">author</p>
    <p class="youtuber">visualizaciones</p>
    <p class="youtuber">tiempo</p></div>
  </div>
</div>
