<div class="explore">
  <div class="explore__menu">
    <ul>
      <li class="explore__menu--main">Página principal</li>
      <li class="explore__menu--main">Tendencias</li>
      <li class="explore__menu--main">Subscripciones</li>
    </ul>
  </div>
  <div class="explore__lists">
    <ul>
      <li class="explore__menu--main">Biblioteca</li>
      <li class="explore__menu--main">Historial</li>
      <li class="explore__menu--main">Ver más tarde</li>
      <li class="explore__menu--main">Vídeos favoritos</li>
      <li class="explore__menu--main">¿Cocina?</li>
    </ul>
  </div>
  <div class="explore__subs">
    <p class="section">Subscripciones</p>
    <ul>
      <li class="explore__menu--main">Aida explorer</li>
      <li class="explore__menu--main">Rubius</li>
      <li class="explore__menu--main">Auronplay</li>
      <li class="explore__menu--main">KPOS</li>
      <li class="explore__menu--main">Space Bunny</li>
    </ul>
  </div>
</div>
