<div class="explore">
  <div class="explore__menu">
    <ul>
      <li class="explore__menu--main"><i class="fas fa-home"></i>Página principal</li>
      <li class="explore__menu--main"><i class="fas fa-fire-alt"></i>Tendencias</li>
      <li class="explore__menu--main"><i class="fas fa-users"></i>Subscripciones</li>
    </ul>
  </div>
  <div class="explore__lists">
    <ul>
      <li class="explore__menu--main"><i class="fas fa-folder"></i>Biblioteca</li>
      <li class="explore__menu--main"><i class="fas fa-history"></i>Historial</li>
      <li class="explore__menu--main"><i class="fas fa-clock"></i>Ver más tarde</li>
      <li class="explore__menu--main"><i class="fas fa-thumbs-up"></i>Vídeos favoritos</li>
      <li class="explore__menu--main"><i class="fas fa-list-ul"></i>¿Cocina?</li>
    </ul>
  </div>
  <div class="explore__subs">
    <p class="section">Subscripciones</p>
    <ul>
      <li class="explore__menu--main">Aida explorer</li>
      <li class="explore__menu--main">Rubius</li>
      <li class="explore__menu--main">Auronplay</li>
      <li class="explore__menu--main">KPOS</li>
      <li class="explore__menu--main">Space Bunny</li>
    </ul>
  </div>
</div>
