<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Youtube by alepa</title>
    <link rel="icon" href="./scss/logo-yt.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div>
      <partial src="_header.html" label="Header"></partial>
    </div>
    <div>
      <partial src="_nav.html" label="Main"></partial>
      <partial src="_main.html" label="Main"></partial>
    </div>
  </body>
</html>
