.header {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #3f3f3f;

  &__logo {
    display: flex;
    position: relative;
    color: gray;
    font-size: 10px;
  }

  &__nav {
    display: block;
    position: relative;

    &__item {
      display: inline;
    }
  }
}
.topnav input[type="text"] {
  font-size: 17px;
  background-color: #282828;
  width: 500px;
  height: 30px;
}
.searchButton {
  width: 50px;
  height: 36px;
  border: 1px solid gray;
  background: gray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.fas {
  color: #282828;
}
