.header {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  align-items: center;
  height: 60px;
  background-color: #272727;

  &__logo {
    display: flex;
    position: relative;
    color: gray;
    font-size: 10px;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    position: relative;

    &__item {
      display: inline;
    }

    &__avatar {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-image: url(https://www.fillmurray.com/32/32);
    }
  }
}
.topnav input[type="text"] {
  font-size: 17px;
  background-color: #121212;
  width: 500px;
  height: 30px;
  border-style: unset;
  padding: 5px;
  border: 0.1px #393939 solid;
}

.fas {
  color: whitesmoke;
}
