.header {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #3f3f3f;

  &__logo {
    display: flex;
    position: relative;
    color: gray;
    font-size: 10px;
  }

  &__nav {
    display: block;
    position: relative;

    &__item {
      display: inline;
    }

    &__avatar {
      display: inline;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-image: url(https://www.fillmurray.com/32/32);
    }
  }
}
.topnav input[type="text"] {
  font-size: 17px;
  background-color: #282828;
  width: 500px;
  height: 30px;
}

.fas {
  color: whitesmoke;
}
